html {
  height: 100%;
  width: 100%;
}

.blue-center{
  display: flex;
  justify-content: center;
}
.green-center{
  display: flex;
  justify-content: center;
}

.yellow-center{
  display: flex;
  justify-content: center;
}

.div-tabela{
  displar: flex;
  justify-content: column;
}

/* Estilo para links de login */
.login-link {
  text-decoration: none; /* Remove sublinhado */
  color: white; /* Cor do texto para links de login */
}

/* Estilo para links de registro */
.register-link {
  text-decoration: none; /* Remove sublinhado */
  color: white; /* Cor do texto para links de registro */
}
